<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.wcf.demo.dao.ProductMapper">
	<resultMap type="com.netease.wcf.demo.bean.Product" id="productResultMap">
		<id property="productId" column="product_id" />
		<result property="title" column="title" />
		<result property="digest" column="digest" />
		<result property="detail" column="detail" />
		<result property="image" column="imgae" />
		<result property="price" column="price" />
		<result property="inventory" column="inventory" />
	</resultMap>
	<insert id="insert" parameterType="com.netease.wcf.demo.bean.Product">
		insert into
		product(title,digest,detail,image,price,inventory)
		values(#{title},
		#{digest}, #{detail}, #{image}, #{price}, #{inventory})
	</insert>
	<delete id="delete">
		delete from product where content_id = #{id}
	</delete>
	<select id="selectDetail" resultMap="productResultMap">
		select * from product where
		content_id = #{id}
	</select>
	<select id="selectAll" resultMap="productResultMap">
		select * from product
	</select>

</mapper>